:root {
    --rojo-oscuro: #8b0000;
    --gris-oscuro: #333333;
    --blanco: #ffffff;
    --negro: #0f0e0e;
    --verde: #047a18;

}

body { font-family: sans-serif; background: var(--blanco); margin: 0; padding: 20px; color: var(--gris-oscuro); }
.app-container { max-width: 1000px; margin: auto; }

.login-card { 
    border-top: 5px solid var(--rojo-oscuro); 
    padding: 30px; 
    box-shadow: 0 4px 10px rgba(15, 15, 15, 0.1); 
    text-align: center;
    margin-top: 100px;
}

.login-card input { padding: 10px; width: 250px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px; }

.btn { padding: 10px 20px; cursor: pointer; border: none; border-radius: 5px; font-weight: bold; }
.btn-primary { background: var(--rojo-oscuro); color: rgb(247, 243, 243); }
.btn-export { background: var(--verde); color: rgb(250, 248, 248); }

.summary-grid { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 20px; margin: 20px 0; }
.stat-card { background: #f7f6f6; padding: 5px; text-align: center; border-radius: 40px; border-bottom: 3px solid var(--rojo-oscuro); }
.stat-card strong { font-size: 24px; display: block; color: var(--rojo-oscuro); }

.admin-zone { background: #f5f3f3; padding: 15px; border: 1px dashed var(--rojo-oscuro); margin-bottom: 20px; }

table { width: 100%; border-collapse: collapse; }
th { background: var(--rojo-oscuro); color: white; padding: 10px; text-align: left; }
td { padding: 10px; border-bottom: 1px solid #ff0606; }

/* Estilos para los Logos */
.logo-empresa {
    width: 900px;
    height: 100px;

}

.logo-small {
    max-width: 4px;
    margin-right: 15px;
}

.header-left {
    display: flex;
    align-items: center;
}

/* Botón Cerrar Sesión */
.btn-logout {
    background-color: #e0e0e0;
    color: var(--gris-oscuro);
    margin-left: 10px;
}

.btn-logout:hover {
    background-color: #d0d0d0;
}

/* Ajuste para que el header se vea ordenado */
.header-actions {
    display: flex;
    gap: 10px;
}